/*-------------------------------------- Fonts Starts -------------------------------------*/
$logo-font: 'Patrick Hand SC', cursive;
$font-type-1: 'Poppins', sans-serif;
$font-type-2: 'Josefin Sans', sans-serif;

/*--------------------------------------- Fonts Ends --------------------------------------*/

/*------------------------------------- Colors Starts -------------------------------------*/
$light-green: #96ce8c;
$dark-green: #629f58;
// $dark-green-2 : #2abb13;
$grey-1: #b0b7bd;
$grey-2: #d3d1d1;
$grey-3: #efefef;
$grey-4: #c1c1c1;
$grey-5: #e8e5d9;
$grey-6: #ebebeb;
$grey-7: #F7F7F7;
$grey-8: #939699;

$red: #fe393e;

$light-blue: #99c6ea;
$dark-blue: #092648;
$light-black: #403f3f;
$rating-yellow: #ffe234;
$rating-grey: #787171;
/*-------------------------------------- Colors Ends --------------------------------------*/

/*-------------------------------------- Mixins Starts ------------------------------------*/

/*--------------------------------------- Mixins Ends -------------------------------------*/
